@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Branislav Tvrdý<br />
    Os.číslo: 558884<br />
    <abbr title="Phone">P:</abbr>
    0904 013 976
</address>

<address>
    <strong>Email:</strong> <a href="mailto:branislav.tvrdy@gmail.com">branislav.tvrdy@gmail.com</a><br />
</address>
