@page
@model DissertationThemes.WebApp.Pages.Themes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Pridaj novú tému</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Themes.Id" class="control-label"></label>
            <input asp-for="Themes.Id" class="form-control" />
            <span asp-validation-for="Themes.Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Themes.Name" class="control-label">Názov témy</label>
                <input asp-for="Themes.Name" class="form-control" />
                <span asp-validation-for="Themes.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Themes.SupervisorId" class="control-label">Id školiteľa</label>
                <input asp-for="Themes.SupervisorId" class="form-control" />
                <span asp-validation-for="Themes.SupervisorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Themes.StProgramId" class="control-label">Id štud. programu</label>
                <input asp-for="Themes.StProgramId" class="form-control" />
                <span asp-validation-for="Themes.StProgramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Themes.IsFullTimeStudy" class="control-label">Denné štúdium</label>
                <input asp-for="Themes.IsFullTimeStudy" class="form-control" />
                <span asp-validation-for="Themes.IsFullTimeStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Themes.IsExternalStudy" class="control-label">Externé štúdium</label>
                <input asp-for="Themes.IsExternalStudy" class="form-control" />
                <span asp-validation-for="Themes.IsExternalStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Themes.ResearchType" class="control-label">Typ výskumu</label>
                <input asp-for="Themes.ResearchType" class="form-control" />
                <span asp-validation-for="Themes.ResearchType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Themes.Description" class="control-label">Popis</label>
                <input asp-for="Themes.Description" class="form-control" />
                <span asp-validation-for="Themes.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Themes.Created" class="control-label">Dátum vytvorenia</label>
                <input asp-for="Themes.Created" class="form-control" />
                <span asp-validation-for="Themes.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Vytvoriť" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Naspäť na list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
